/*
 *= require font-awesome
 */

 @import 'bootstrap.css';

.current {
  background-color: #727272;
}

code {font-size: 0.8em}

#me {
  text-align: right;
  margin: 15px;
}

.top-50 {
  margin-top: 50px;
}

.top-100{
  margin-top: 100px;
}

img {
  max-width: 100%;
}

.shadow {
  border-radius: 2px;
  box-shadow: 5px 5px 10px #888888;
}

.readmore {
  margin-left: 15px;
  font-size: 0.80em;
}

form {
  margin-bottom: 50px;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0;
}

.date {
  font-size: 0.75em;
}

/*section h5 {
  margin-bottom: 0;
}
*/
iframe {
  min-height: 600px;
  width: 100%;
}

#notice_wrapper, #alert_wrapper {
  position: absolute;
  top: 54px;
  width: 100%;
  height: 45px;
  z-index: 999;
  background: rgba(135,216,211,0.85);
  p {
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 1.2rem 0;
  }
  span.close {
      color: #fff;
      position: absolute;
      right: 13px;
      top: 13px;
      font-weight: 100;
      font-size: 15px;
      opacity: 0.75;
  }
}
 /* Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Kelvin - Free Bootstrap 3 Resume Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

h3 {
  margin-top: 5px;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f6453b;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*---------------------------------------------------
  3.1 Topbar
---------------------------------------------------*/

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px  'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
  background: #111;
  line-height: 0;
  text-align: center;
}

/*
  Top Bar

  By default, top navigation bar uses "fixed" position
*/
#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

  border-right: 1px solid #222;

  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}

#section-topbar ul#nav > li {
  display: block;
    float: left;
    padding: 0;
}


#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #222;
}

  #section-topbar ul#nav a:hover {
    background: #222;
    text-decoration: none;
    border-left: 1px solid #111;
  }

  #section-topbar ul#nav .active a {
    background: #44bbaa;
    border-left: 1px solid #111;
  }

    #section-topbar ul#nav .active a:hover {
      background: #44bbaa;
    }
#section-topbar i {
  font-size: 25px;
}
/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
#headerwrap {
  background: url(../img/header-bg.jpg) no-repeat center top;
  /*margin-top: 60px;*/
  padding-top:140px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 500px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
  font-size: 80px;
  color: white;
  margin: 0px 0 10px 0px;
}

#headerwrap h3 {
  font-size: 20px;
  color: white;
  margin: 0;
}

/* Intro Wrap */

#intro {
  background: #2d445a;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 

#intro h4, #intro p {
  color: white;
}

#intro i {
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

#projects {
  background: #ddeaf6;
  color: white;
  .pad {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

#footwrap {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footwrap p {
  color: white;
}

#footwrap h4 {
  color: white;
}


#footwrap t {
  font-weight: 700;
}

#footwrap i {
  padding-right: 8px;
  color: #1abc9c;
}

/* Copyright Wrap */

#c {
  background: #222222;
  padding-top: 15px;
  text-align: right;
}

#c p {
  color: white
}



/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #95a5a6;
}


sm {
  font-size: 12px;
}


