/*
 *= require font-awesome
 */

.current {
  background-color: #727272;
}

#me {
  text-align: right;
  margin: 15px;
}

.top-50 {
  margin-top: 100px;
}

form {
  margin-bottom: 50px;
}

@import 'bootstrap.css';
@import 'main.css';

