// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: #424652;
    &:hover {
      color: #e9e9e9;
    }
  }
  .date {
    margin-bottom: 2em;
  }
  p {
    font-size: 0.9em;
  }
  .summary {
    line-height: 1.35em;
  }
}
